@model VendingMachine.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" value="@Model.SessionId"/>

<div class="row vending-machine-items-container">
    @foreach(var item in Model.Items)
    {
        <div class="col-md-4">
            <div class="vending-machine-item">
                <h2 class="item-name">@item.Name</h2>
                <h3 class="item-price">@item.Price.ToString("C")</h3>
                <button class="btn btn-success item-select-button" data-id="@item.Id">Select</button>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12 vending-machine-display">
        @if(Model.UserTotal == 0)
        {
            <h1 id="display-text">INSERT COIN</h1>
        }
        else
        {
            <h1 id="display-text">@Model.UserTotal.ToString("C")</h1>
        }        
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-horizontal">                
        <div class="form-group">
            <label for="coin-weight">Coin Weight</label>
            <input id="coin-weight" name="coin-weight" class="form-control" type="number" placeholder="Coin Weight"/>
        </div>
        <div class="form-group">
            <label for="coin-size">Coin Size</label>
            <input id="coin-size" name="coin-size" class="form-control" type="number" placeholder="Coin Size"/>
        </div>
        <div class="form-group">
            <button id="deposit-button" class="btn btn-primary" disabled>Depoit Coin</button>
        </div>
        <div class="form-group">
            <button id="return-coins-button" class="btn btn-danger">Return Coins</button>
        </div>
        <div class="form-group">
            <label for="coins">Available Coins</label>
            <table name="coins" class="table-condensed table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Max Weight</th>
                        <th>Min Weight</th>
                        <th>Max Size</th>
                        <th>Max Width</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var coin in Model.AvailableCoins)
                    {
                        <tr>
                            <td>@coin.Value</td>
                            <td>@coin.MaxWeight</td>
                            <td>@coin.MinWeight</td>
                            <td>@coin.MaxSize</td>
                            <td>@coin.MinSize</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label for="coin-return">Coin Return</label>
            <div id="coin-return" name="coin-return" class="dispencary-div">
                <ul>
                    @if(Model.CoinsToCollect.Count > 0)
                    {
                        @foreach(string coin in Model.CoinsToCollect)
                        {
                            <li>
                                @coin
                            </li>
                        }
                    }    
                    else
                    {
                        <li>Coin return is empty</li>
                    }                
                </ul>
            </div>
        </div>
        <div class="form-group">
            <button id="take-all-coins-button" class="btn btn-success">Take All</button>
        </div>
        <div class="form-group">
            <label for="dispencary">Dispencary</label>
            <div id="dispencary" name="dispencary" class="dispencary-div">
                <ul>
                    @if(Model.ItemsToCollect.Count > 0)
                    {
                        @foreach(string item in Model.ItemsToCollect)
                        {
                            <li>@item</li>
                        }
                    }
                    else
                    {
                        <li>No items to collect</li>
                    }
                    
                </ul>
            </div>
        </div>
        <div class="form-group">
            <button id="take-all-items-button" class="btn btn-success">Take All</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    </script>
}